/* Game container */
.game {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f9fa; /* Light background for better contrast */
  font-family: Arial, sans-serif;
}

/* Title */
.title {
  text-align: center;
  color: #2c3e50;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Menu icons container */
.menu-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 0;
}

.menu-icon {
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.menu-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Grid layout container */
.react-grid-layout {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

/* Grid item */
.grid-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e8eef1;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-child:hover {
  /* background-color: #2980b9; */
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Grid content */
.grid-content {
  padding: 10px;
  /* color: #ecf0f1; */
}

/* Validate button */
.validate-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #27ae60;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* transition: background-color 0.3s, box-shadow 0.3s; */
}

.validate-button:hover {
  background-color: #219150;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Draggable grid item while dragging */
.react-grid-item.react-draggable-dragging {
  z-index: 1000;
  background-color: #2ecc71 !important; /* Green background while dragging */
  border: 2px dashed #27ae60;
  cursor: grabbing;
}

/* Placeholder during dragging */
.react-grid-item.react-grid-placeholder {
  background-color: #e74c3c !important;
  opacity: 0.6;
  border-radius: 8px;
  border: 2px dashed #c0392b;
}
